/* The integration"s default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 0, 0%, 100%;
    --secondary: 0, 0%, 1%;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  * {
    transition-duration: 300ms;
  }

  html,
  body {
    color-scheme: dark;
    background-color: black;
    font-family: "JetBrains Mono", monospace;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  h1 {
    @apply text-3xl md:text-4xl lg:text-5xl font-black uppercase tracking-tighter;
  }

  body {
    background-size: 30px 30px;
    background-position: 50% 100%;
    background-image: linear-gradient(
        to right,
        hsl(var(--primary), 0.1) 1px,
        transparent 1px
      ),
      linear-gradient(to bottom, hsl(var(--primary), 0.1) 1px, transparent 1px);
  }
}

/* @layer base {
  * { @apply text-secondary border-secondary; }
  html, body { @apply bg-background font-serif tracking-tight; }

  h1 { @apply text-primary leading-[0.9] font-display text-6xl lg:text-7xl tracking-tighter; }
  h2 { @apply text-primary leading-[0.9] font-display text-4xl sm:text-5xl tracking-tighter; }
  h3 { @apply text-primary leading-[0.9] font-display text-3xl sm:text-4xl tracking-tighter; }
  h4 { @apply text-primary leading-[0.9] font-display text-2xl sm:text-3xl; }
  h5 { @apply text-primary leading-[0.9] font-display text-xl sm:text-2xl; }

  p, span, a, div, button, strong, em, label, li, td, blockquote { @apply text-xl lg:text-2xl; }

  img { @apply border rounded-md }

  .balance { @apply text-balance inline-block align-top; }
} */
