---
import Layout from "~/layouts/layout.astro"

const title = import.meta.url.split("/").pop()?.replace(".astro", ".html")!
---

<Layout title={title} description="Not Found">
  <h1
    class="text-5xl sm:text-6xl md:text-7xl lg:text-[6.5rem] font-black uppercase tracking-tighter w-min"
  >
    <span class="inline-block">Not</span>
    <span class="inline-block">Found</span>
  </h1>
</Layout>
