---
import Layout from "~/layouts/layout.astro"
---

<Layout title="index.html" description="Hello world!">
  <div class="flex flex-col gap-10 max-w-2xl overflow-auto p-10 md:p-16">
    <h1>Hello world!</h1>
    <div class="space-y-5 lowercase tracking-tighter">
      <p>
        i’m a non-binary, neurodivergent software dev from the uk that makes cool
        websites (and some other stuff too).
      </p>
      <p>
        i began coding in early 2022 when I built my first discord bot. since then
        i’ve built many more bots, alongside rest apis, npm packages, chrome
        extensions, and game mods, but eventually i found my niche in webdev.
      </p>
      <p>
        i started with javascript, but now i almost always use typescript for the
        majority of my projects. for webdev, my preferred toolkit includes react,
        astro, or nextjs, usually paired with tailwindcss as well.
      </p>
    </div>
  </div>
</Layout>
