---
import Layout from "~/layouts/layout.astro"

import Project from "~/components/project.astro"

const title = import.meta.url.split("/").pop()?.replace(".astro", ".html")!
---

<Layout title={title} description="Hello World">
  <h1
    class="text-3xl md:text-4xl lg:text-5xl font-black uppercase tracking-tighter w-full max-w-4xl"
  >
    My Work
  </h1>
  <div class="grid gap-5 md:grid-cols-2 xl:grid-cols-3 max-w-4xl">
    <Project
      name="Phase"
      description="Phase is a free to use, open source Discord bot that aims to be the all-in-one solution for as many servers as possible."
      github="https://github.com/notcharliee/phase"
      img="https://phasebot.xyz/og.png"
      url="https://phasebot.xyz"
    />
    <Project
      name="MCPack Builder"
      description="A simple Minecraft Bedrock resource pack builder that makes adding custom sounds and textures easy."
      github="https://github.com/notcharliee/mcpack"
      img="/projects/mcpack.png"
      url="https://mcpack.charliee.dev"
    />
    <Project
      name="AGD"
      description="August Glass Designs: Crafting quality, handmade, eco friendly glass decor since 2014."
      github="https://github.com/notcharliee/august-glass-designs"
      img="/projects/august-glass-designs.png"
      url="https://august-glass-designs.vercel.app"
    />
  </div>
</Layout>
