---
import Layout from "~/layouts/layout.astro"

import Project from "~/components/project.astro"
---

<Layout title="projects.html" description="My Work">
  <div class="flex flex-col gap-10 max-w-4xl xl:max-w-6xl overflow-auto p-10 md:p-16">
    <h1>My Work</h1>
    <div class="grid gap-5 md:grid-cols-2 xl:grid-cols-3">
      <Project
        name="Portfolio"
        description="The site you're on right now, it's nice isn't it? Maybe check out some of the others I made? Pretty please?"
        github="https://github.com/notcharliee/charliee.dev"
        img="https://charliee.dev/og-image.png"
        url="https://charliee.dev"
      />
      <Project
        name="Phase"
        description="Phase is a free to use, open source Discord bot that aims to be the all-in-one solution for as many servers as possible."
        github="https://github.com/notcharliee/phase"
        img="https://phasebot.xyz/og.png"
        url="https://phasebot.xyz"
      />
      <Project
        name="AGD"
        description="August Glass Designs: Crafting quality, handmade, eco friendly glass decor since 2014."
        github="https://github.com/notcharliee/august-glass-designs"
        img="https://augustglassdesigns.co.uk/og-image.png"
        url="https://augustglassdesigns.co.uk"
      />
      <Project
        name="Linktree Clone"
        description="I made this site to learn how to work with MySQL, Drizzle ORM, and Planetscale DB."
        github="https://github.com/notcharliee/linktree"
        img="https://linktree.charliee.dev/og-image.png"
        url="https://linktree.charliee.dev"
      />
      <Project
        name="MCPack Builder"
        description="A simple Minecraft Bedrock resource pack builder that makes adding custom sounds and textures easy."
        github="https://github.com/notcharliee/mcpack"
        img="/projects/mcpack.png"
        url="https://mcpack.charliee.dev"
      />
    </div>
  </div>
</Layout>
