<footer
  class="sticky bottom-0 h-14 px-6 w-full flex gap-5 items-center justify-between"
>
  <div
    class="flex gap-5 leading-none font-mono font-extralight tracking-tighter"
  >
    <a href="/" class="pb-1 border-b hover:text-neutral-300" data-astro-prefetch
      >index</a
    >
    <a
      href="/projects"
      class="pb-1 border-b hover:text-neutral-300"
      data-astro-prefetch>projects</a
    >
    <a
      href="https://github.com/notcharliee"
      target="_blank"
      referrerpolicy="no-referrer"
      class="pb-1 border-b hover:text-neutral-300">github</a
    >
  </div>
  <div
    class="hidden md:block leading-none font-mono font-extralight tracking-tighter"
  >
    <span>copyright {new Date().getFullYear()}</span>
  </div>
</footer>
